# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Set the default end-of-line character under Linux.
* eol=lf

# A bash and shell script requires the Linux end-of-line character.
*.sh eol=lf
